<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="internal.txt">
	<extensions>
		<add assembly="BetterStack.Logs.NLog" />
	</extensions>

	<targets>
    <!-- Dont forget to change <source_token> and <ingesting_host> to your actual source token and ingesting host-->
           <target xsi:type="BetterStack.Logs" name="mybetterstack" layout="${message}" sourceToken="<source_token>" endpoint="<ingesting_host>" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="mybetterstack" />
	</rules>
</nlog>
